.page.theme_dark {
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --header-color: #db00ff;
  --button-color: #ff0070;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --article-bg-color: #ff0070;
  --link-shadow-color: #ff0070;
  --visible: visible;
}

@media (prefers-color-scheme: dark) {
  .page {
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --header-color: #db00ff;
    --button-color: #ff0070;
    --button-hover-border: rgba(255, 0, 112, 0.4);
    --section-title-color: #ff0070;
    --article-title-color: #000028;
    --article-bg-color: #ff0070;
    --link-shadow-color: #ff0070;
    --visible: visible;
  }
}
