.page.theme_light {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --header-color: #ffc2e6;
  --button-color: #353430;
  --button-hover-border: rgba(50, 49, 45, 0.4);
  --section-title-color: #353430;
  --article-title-color: #353430;
  --article-bg-color: #ff8dcb;
  --link-shadow-color: #ff8dcb;
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --header-color: #ffc2e6;
    --button-color: #353430;
    --button-hover-border: rgba(50, 49, 45, 0.4);
    --section-title-color: #353430;
    --article-title-color: #353430;
    --article-bg-color: #ff8dcb;
    --link-shadow-color: #ff8dcb;
    --visible: hidden;
  }
}
